#logged-user {
  padding-right: 20px;
  color: var(--reddit-blue);
}

#logged-user:hover {
  text-decoration: underline;
}

#logout {
  display: none;
}

#login-form label, #signup-form label {
  font-size: 14px;
}

.input-error {
  color: red;
  font-size: 14px;
}

.form-popup {
  display: none;
  position: absolute;
  right: 20px;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-radius: 4px;
  border: none;
  background: #f1f1f1;
}

.form-container .login-btn, .sign-up-btn {
  background-color: var(--reddit-blue);
  color: white;
  padding: 16px 20px;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 4px;
}

.form-container .login-btn:hover, .sign-up-btn:hover {
  opacity: 1;
}
