.post .content {
  width: 100%;
}

.feed-comments {
 float: right;
 color: rgb(80,80,80);
}

.feed-subseddit {
 float: left;
 color: var(--reddit-blue);
}

.post-container {
 width: 250px;
 height: 250px;
}

.post-image {
 width: 100%;
 height: auto;
}

