/*feed*/
.post .content {
  width: 100%;
}
.post-date {
  color: rgb(80,80,80);
}

.feed-comments {
  float: right;
  color: rgb(80,80,80);
}

.feed-subseddit {
  float: left;
  color: var(--reddit-blue);
}

.post-container {
  width: 200px;
}

.post-image {
  width: 100%;
  height: auto;
}

p.post-description {
  white-space: nowrap; 
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}

#post-btn {
  visibility: hidden;
}

#thumbs-up {
 color: rgb(80,80,80);
 float: right;
 visibility: hidden;
}

#thumbs-up:hover {
 color: var(--reddit-blue);
}

/*modal window*/
.black-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 2;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 80px;
  width: 80%;
  height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-content label {
 font-weight: bold;
 font-size: 20px;
}

#close-button {
  float: right;
  cursor: pointer;
  color: #aaaaaa;
}

#close-button:hover, #close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.grouped-users {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; 
  display: flex;
  width: 100%;
}

.grouped-comments {
  list-style-type: none;
}

.upvote-users {
  flex: 1 0 40%; 
  margin: 5px;
}

#empty-message {
  text-align: center;
}

.comment-users {
  border-bottom: 3px solid var(--reddit-grey);
  padding: 10px;
}

.comment-users:last-child {
  border-bottom: none;
}

.comment-author {
  color: var(--reddit-blue);
}

.comment-date {
  color: rgb(80,80,80);
}

.title {
  text-align: center;
}

.post-form {
  max-width: 90%;
  margin: 0 auto;
}

.post-form input, textarea {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: none;
  background: #f1f1f1;
}

.post-form textarea {
  width: 100%;
  max-width: 100%;
}

.post-form p {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.post-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
}

.post-input-error {
  color: red;
  font-size: 14px;
  font-weight: normal;
}

.publish-btn {
  background-color: var(--reddit-blue);
  color: white;
  width: 30%;
  opacity: 0.8;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 20px;
}

.publish-btn:hover {
  opacity: 1;
}

/* profile */
#profile-btn-div {
  text-align: center;
  
}

#following-btn, #followed-btn {
  margin-right: 20px;
  margin-bottom: 20px;
}

#profile-screen input {
  width: 100%;
  margin-bottom: 20px;
}

#update-btn {
  margin-top: 20px;
  margin-right: 20px;
}
